@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      transition: 0.35s linear;
      user-select: none;
}

:root {
      --hue: 100;
}

*::selection {
      background: transparent;
}

html {
      width: 100vw;
      height: 100vh;
}

body {
      height: 100%;
      width: 100%;
      background-image: url(./resources/wall.jpg);
      background-size: 100vw 100vh;
      background-position: center;
      overflow: hidden;
      cursor: none;
}

img.cursor {
      position: absolute;
      height: 50px;
      width: 50px;
      pointer-events: none;
      transform: translate(-50%, -50%);
      top: 0;
      left: 0%;
      transition: none;
      display: none;
      z-index: 100;
}

div.container {
      position: relative;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
}

div.container>div {
      height: 100%;
      width: 100%;
      position: absolute;
}

div.strt {
      display: block;
      z-index: 1;
}

div.btn-score {
      width: 50vw;
      height: 50vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #fff;
}

div.strt span.strt-btn {
      border: 3px solid;
      padding: 7px;
      transform: translateY(100%);
}

span.strt-btn:hover {
      background: #ffffff57;
}

div.scores {
      width: 100%;
      margin: 20px;
      text-align: center;
      font-size: 18px;
      transform: translateY(50%);
}

div.scores>* {
      margin: 10px 0;
}

div.scores>*>span {
      font-family: 'Orbitron', sans-serif;
}

div.game {
      display: none;
}

div.barier {
      position: relative;
      height: 150px;
      width: 150px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #03A9F4;
      z-index: 2;
}

div.barier div.target {
      height: 100%;
      width: 50px;
      position: relative;
      transform: rotate(360deg);
      transition: none;
}

div.barier div.target img.cursor {
      display: initial;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
}

div.tank div.circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.85);
      height: 50px;
      width: 50px;
      border-radius: 100%;
      background: radial-gradient(rgb(1 255 1), rgb(2 45 2));
      border: 2.5px solid #303030;
      z-index: 3;
}

div.tank div.line {
      height: 40px;
      width: 15px;
      border: 2.5px solid #303030;
      background: linear-gradient(0deg, rgb(1 146 1), rgb(1 255 1));
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
      border-bottom: none;
}

div.tank-body {
      position: absolute;
      width: 70px;
      height: 56px;
      background: green;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid #303030;
      z-index: 1;
}

div.stats {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 7vh;
      width: 100vw;
      display: flex;
      justify-content: space-around;
      padding: 5px;
      line-height: 7vh;
      background: url(./resources/wall.jpg);
      z-index: 10;
      background-size: 100vw 100vh;
      box-shadow: 0px 3px 40px 9px black;
}

div.stats * {
      font-family: 'Orbitron', sans-serif !important;
      color: #fff;
      font-size: 20px;
}

div.stats>* {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: 500;
}

div.health-bar {
      margin: 0 0 0 10px;
      width: 50%;
      height: 10px;
      background: #fff8;
      border-radius: 3px;
}

div.health-left {
      width: 100%;
      height: 100%;
      background: hsl(var(--hue) 80% 50%);
      border-radius: 3px;
      box-shadow: 0 0 12px 4px hsl(var(--hue) 80% 50%);
}

canvas {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100vh;
      width: 100vw;
}

div.fire-anime {
      animation: fire-anime 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes fire-anime {
      0% {
            top: 25%;
      }

      50% {
            top: 35%;
      }

      100% {
            top: 25%;
      }
}

div.end,
div.pause {
      display: none;
}

div.end>div,
div.pause>div {
      z-index: 100;
      position: absolute;
      color: #fff;
      width: 50vw;
      height: 50vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 7px;
      background-color: rgba(29, 28, 28, 0.533);
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
}

div.heading {
      font-size: 4rem;
      font-family: 'Roboto', sans-serif;
      width: 100%;
      text-align: center;
}

div.det {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0px 30px;
}

div.det>div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
}

div.det>div.val>span {
      font-family: 'Orbitron', sans-serif;
      text-align: end;
}

div.btns {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
}

span.btn {
      border: 3px solid;
      padding: 7px;
}

span.btn:hover {
      background: #ffffff57;
}

div.page {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
}