@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300;400&display=swap');

* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      transition: 0.35s linear;
      user-select: none;
}

*::selection {
      background: transparent;
}

html {
      width: 100vw;
      height: 100vh;
}

body {
      height: 100%;
      width: 100%;
      background-image: url(./resources/wall.jpg);
      background-size: cover;
      background-position: center;
      overflow: hidden;
      /* cursor: none; */
}

img.cursor {
      position: absolute;
      height: 50px;
      width: 50px;
      pointer-events: none;
      z-index: 2;
      transform: translate(-50%, -50%);
      top: 0;
      left: 0%;
      transition: none;
}

div.container {
      position: relative;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
}

div.container>div {
      height: 100%;
      width: 100%;
      position: absolute;
}

div.strt {
      display: block;
      z-index: 1;
}

div.strt span.strt-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #fff;
      border: 3px solid;
      padding: 7px;
      transform: translate(-50%, -50%);
}

span.strt-btn::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: #ffffff00;
      top: 0%;
      left: 0%;
      transition: 0.25s ease-in;
}


span.strt-btn:hover::before {
      background: #ffffff57;
}

div.game {
      display: none;
}

div.barier {
      position: relative;
      height: 150px;
      width: 150px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #03A9F4;
      z-index: 2;
}

div.barier div.target {
      height: 100%;
      width: 50px;
      position: relative;
      transform: rotate(360deg);
      transition: none;
}

div.barier div.target img.cursor {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
}

div.tank div.circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.85);
      height: 50px;
      width: 50px;
      border-radius: 100%;
      background: radial-gradient(rgb(1 255 1), rgb(2 45 2));
      border: 2.5px solid #303030;
      z-index: 3;
}

div.tank div.line {
      height: 40px;
      width: 12px;
      border: 2.5px solid #303030;
      background: linear-gradient(0deg, rgb(1 146 1), rgb(1 255 1));
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
      border-bottom: none;
}

div.tank div.tank-body {
      position: absolute;
      z-index: 2;
      height: 70px;
      width: 56px;
      background: green;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid #303030;
}

div.game-board {
      position: relative;
      top: -19.8%;
      left: 0%;
      height: 100vh;
      width: 100vw;
}

div.game-board span.bullet {
      height: 30px;
      width: 7px;
      position: absolute;
      background: #ffc107;
      border-radius: 10px 10px 0 0;
}

span.bullet::before {
      content: '';
      position: absolute;
      height: 5px;
      width: 7px;
      background: #ffeb3b;
      bottom: 0;
}

span.bullet::after {
      content: '';
      position: absolute;
      height: 5px;
      width: 7px;
      background: #f44336;
      border-radius: 10px 10px 0px 0px;
}

div.fire-anime {
      animation: fire-anime 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes fire-anime {
      0% {
            top: 25%;
      }

      50% {
            top: 35%;
      }

      100% {
            top: 25%;
      }
}

div.end {
      display: none;
}

div.page {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
}